@import './partials/variabels';
@import './partials/general';
@import './partials/grid';
.nav{
    padding: 2rem;
    &__titls{
    margin-bottom: 1.2rem;
}
p{
    font-weight: 600;
}
@include desktop{
    display: flex;
    justify-content: space-between;
}
    &__togglers{
        border-top: 1px solid #ccc;
        padding-block: 1rem;
        display: flex;
        justify-content: space-between;
        @include desktop{
            border: none;
            padding-block: 0;
        }
        .nav__toggle{
            height: 1.7rem;
            cursor: pointer;
            border-radius: 30px;
            width: 3.7rem;
            background-color:$Green;
            margin-left: 10px;
            .circle{
                background-color: $Very-Dark-Blue;
                height: 100%;
                margin-left: 1px;
                border-radius: 50%;
                transition: 0.3s linear;
                width: 25px;
                display: inline-block;
            }
        }
    }
}
// CARD PRIMARY
.card{
    text-align: center;
    &__title{
        font-weight:600;
    }
    img,p{
        display: inline;
    }
    h1{
        margin-top: 1.1rem;
        font-size: 3.5rem;
    }
    h4{
        font-weight: 300;
        color:$Dark-Grayish-Blue;
        letter-spacing: 3px;
    }
    &__footer{
        margin-top: 1.2rem;
       img,h5{
           display: inline;
       }
      img{
           padding-bottom: 0.2rem;
       }
    }
    @include desktop{
        width: 90%;
    }
    &:hover{
        background-color: #353b51;
       
    }
}
.card--primary{
    border-top: 6px solid #4683b9 ;
    &__logo{
        transform: scale(1.3);
    }
    h5{
        color: $Green;
    }
}
.card--secondary{
    border-top: 6px solid rgb(223,73,150);
    h5{
        color: $Green;
    }
}
.card--accent{
    border-top: 6px solid $Red;
    .card__footer{
        h5{
            color: $Red;
        }
    }
}
// toggler move class
.moveCircle{
    background-color: #ccc !important;
    .circle{
     background-color:white !important;
     transform: translateX(123%);
    
    }
}
.bgToWhite{
    background: white;
}
.changingHeadingColor{
    color: #1e212a;
}
.magic{
    background-color: #f0f3fa !important;
    &:hover{
        background-color: #ebebeb !important;
    }
}
// footer

.cardSt{
    display: flex;
    justify-content: space-between;
    &__reaction{
    h1{
        margin-top: 2rem;
    }
    }
    &__socialMedia{
        padding-top: 0.7rem;
           .svg{
            position: relative;
            display: flex;
            top: 3rem;
            left: -0.7rem;
            img{ 
                height: 6px;
                width: 8px;
            }
            h6{
                margin-left: 5px;
                color: $Green;
                position: inherit;
                top: -0.3rem;
            }
           }
    }
    @include desktop{
        width: 90%;
    }
    &:hover{
        background-color: #353b51;
       
    }
}
.red{
    color: $Red !important;
}
.items{
    margin-block: 1rem;
    cursor: pointer;
    background-color: $Dark-Desaturated-Blue;
    padding: 2rem;
    width: 340px;
    border-radius: 12px;
    margin-inline: auto;
    // transition: 0.25s linear;
    p{
        font-weight: 600;
    }
    @include desktop{
        width: 90%;
    }
    &:hover{
        background-color: #353b51;
       
    }
}
footer{
    h2{
        margin-left: 2rem;
    }
    
}